

*{
	font-family: candara;
}


body{
	background-color: #D2D3D5;
}





div#barra-superior{
	font-size: 100%;
	color: #FFFFFF;

}


div#barra-superior ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #616C85;

}

div#barra-superior li{
	float: right;
	text-align: center;
    	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;

}

div#barra-superior li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}

div#barra-superior li a:hover{
	background-color: black;
}

div#barra-superior .active{
	background-color: #B2D1DC;
	style: bold;
}



div#conteudo{
	background-color:white;
	color: black;
	display: block;
	float: right;
	width: 84%;
	height:100%;
	margin: 5px 0 0 0;
}

div#conteudo form{
	margin: 5px;
}

div#conteudo p{
	margin: 5px;
}

div#conteudo th{
	margin: 5px;
	
}


div#barra-lateral h1{
	font-size:150%;
	text-align: center
}


div#barra-lateral {
	font-size: 80%;
	color: #FFFFFF;
	float: left;
	display:block
}

div#barra-lateral ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #616C85;
	height: 100%;
	position: absolute;
	overflow: auto;
}

div#barra-lateral li{
	text-align: center;
    	border-bottom: 2px solid #FFFFFF;

}

div#barra-lateral li a{
	display: block;
	padding: 8px 0 8px 8px;
	text-decoration: none;
	color: #FFFFFF;
	
}

div#barra-lateral li a:hover{
	background-color: black;
	color: white;
}

div#barra-lateral .active{
	background-color: #B2D1DC;
	color: white;
}

div#barra-lateral #login-image img{
	alt="User";
	width:50%;
	height:50%;
	float: none;
	margin-left:auto;
	margin-right:auto;
}

div#barra-lateral #login-image img a{
	text-align:center;
	font-size:100%
	color: #000000;
	display: inline;

}





	
